// This file was auto-generated by Fern from our API Definition.

package client

import (
	context "context"
	http "net/http"
	sdk "sdk"
	flows "sdk/assets/flows"
	folders "sdk/assets/folders"
	rules "sdk/assets/rules"
	core "sdk/core"
	internal "sdk/internal"
	option "sdk/option"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header

	Rules   *rules.Client
	Flows   *flows.Client
	Folders *folders.Client
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header:  options.ToHeader(),
		Rules:   rules.NewClient(opts...),
		Flows:   flows.NewClient(opts...),
		Folders: folders.NewClient(opts...),
	}
}

// Get the rule execution usage of your organization.
func (c *Client) GetUsage(
	ctx context.Context,
	opts ...option.RequestOption,
) (*sdk.UsageStatistics, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://rulebricks.com/api/v1",
	)
	endpointURL := baseURL + "/admin/usage"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	var response *sdk.UsageStatistics
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
