// Code generated by Fern. DO NOT EDIT.

package rules

import (
	context "context"
	sdk "sdk"
	assets "sdk/assets"
	core "sdk/core"
	internal "sdk/internal"
	option "sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Delete a specific rule by its ID.
func (c *Client) Delete(
	ctx context.Context,
	request *assets.DeleteRuleRequest,
	opts ...option.RequestOption,
) (*sdk.SuccessMessage, error) {
	response, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Export a specific rule by its ID. This response preserves the raw rule document casing (for example, `requestSchema`, `sampleRequest`, and `createdAt`) so it can round-trip through `/admin/rules/import` and `.rbm` workflows.
func (c *Client) Pull(
	ctx context.Context,
	request *assets.PullRulesRequest,
	opts ...option.RequestOption,
) (*sdk.RuleExport, error) {
	response, err := c.WithRawResponse.Pull(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Create or update a rule. If `id` is provided, the matching rule is partially updated (all other fields optional). If `id` is omitted, a new rule is created (`id` and `slug` are auto-generated; all other fields required).
func (c *Client) Push(
	ctx context.Context,
	request *assets.ImportRuleRequest,
	opts ...option.RequestOption,
) (*sdk.RuleExport, error) {
	response, err := c.WithRawResponse.Push(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// List rules in the organization, scoped to the API key holder's user groups. Combine folder, labels, user_group, id, slug, name, and search filters. When version is supplied, the filters must match exactly one accessible rule: multiple matches return 400 and no matches return 404. Version accepts a published version number, release environment slug, or latest, using the same publication and access checks as execution. A missing version or release returns 404. The response remains an array; schemas and condition count come from the selected version, while descriptive workspace metadata stays current. Without version, published rules use their published schemas and unpublished rules use their drafts.
func (c *Client) List(
	ctx context.Context,
	request *assets.ListRulesRequest,
	opts ...option.RequestOption,
) (sdk.RuleListResponse, error) {
	response, err := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
